<h2>Overview</h2>

<ul>
	<li><a href="{{ site.baseurl }}/index.html">Introduction</a></li>
	<li><a href="{{ site.baseurl }}/overview.html">LitePub Overview</a></li>
	<li><a href="{{ site.baseurl }}/ap-compat.html">LitePub and ActivityPub</a></li>
</ul>

<h2>Profiles</h2>

<ul>
	<li><a href="{{ site.baseurl }}/profiles.html">Profiles Overview</a></li>
	<li><a href="{{ site.baseurl }}/profile/agent.html">LitePub Agent</a></li>
	<li><a href="{{ site.baseurl }}/profile/relay.html">LitePub Relay</a></li>
	<li><a href="{{ site.baseurl }}/profile/forwarder.html">LitePub Forwarder</a></li>
</ul>

<h2>Vocabulary</h2>

<ul>
	<li><a href="{{ site.baseurl }}/vocabulary.html">Vocabulary Overview</a></li>
</ul>
