<h2>Overview</h2>

<ul>
	<li><a href="{{ site.baseurl }}/index.html">Introduction</a></li>
	<li><a href="{{ site.baseurl }}/overview.html">LitePub Overview</a></li>
	<li><a href="{{ site.baseurl }}/ap-compat.html">LitePub and ActivityPub</a></li>
</ul>

<h2>Core Specification</h2>

<ul>
	<li><a href="{{ site.baseurl }}/spec/index.html">LitePub Living Standard</a></li>
</ul>

<h2>Extensions</h2>

<ul>
	<li><a href="{{ site.baseurl }}/lep/index.html">Index of proposed LitePub extensions</a></li>
</ul>
