body {
	display: flex;
	flex-direction: row;
	font-family: sans-serif;
	max-width: 100em;
}

nav {
	flex: 1;
	max-width: 20em;
	border-right: 1px solid #999;
	height: 100%;
	margin-right: 1em;
}

.content {
	flex: 2;
}

.full-width {
	width: 100%;
}

th {
	text-align: left;
}
